{% extends "base.html" %}
{% block title %}e-homework 教师端{% endblock %}
{% block morestaticfiles %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/teacher.css" %}">
{% endblock %}
{% block main %}
  <nav>
    <span class="glyphicon glyphicon-tasks"></span>
    <h2><a href="{% url "teacher" %}">教师端</a></h2>
    <ul>
      <li><a href="{% url "teacher-vote-list" %}">调查列表</a></li>
      <li><a href="{% url "new-vote" %}">新建调查</a></li>
      <li><a href="{% url "tag-info" %}">知识点情况</a></li>
    </ul>
  </nav>
  <div class="content">
    {% block content %}
      <div id="index-content">
        <h2>欢迎访问e&#8209;homework教师端</h2>
        <a class="btn btn-danger">退出</a>
      </div>
    {% endblock %}
  </div>
  <script>
    $("nav").click(function () {
      $(this).addClass("open");
    });
    $(".content").click(function () {
      $("nav").removeClass("open");
    });
    $(function () {
              var $refs = $("nav>ul>li>a");
              for (var i = 0; i < $refs.length; ++i) {
                var $the_ref = $($refs[i]);
                if (window.location.href.indexOf($the_ref.attr("href")) > -1) {
                  $($the_ref).parent().css("background", "#00ace5");
                }
              }
            }
    );
  </script>
{% endblock %}