{% extends "teacher/teacher.html" %}
{% block morestaticfiles %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/teacher.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h2>{{ vote.name }}</h2>
    <form id="vote-form" method="post" action="{% url "modify-vote" vote.id %}">{% csrf_token %}
      <div class="row">
        <div class="form-group col-xs-12 col-md-6">
          <label for="start-date">开始日期</label>
          <input type="date" class="form-control" id="start-date" name="start-date"
                 value="{{ vote.start_date|date:"Y-m-d" }}">
        </div>
        <div class="form-group col-xs-12 col-md-6">
          <label for="end-date">结束日期</label>
          <input type="date" class="form-control" id="end-date" name="end-date"
                 value="{{ vote.end_date|date:"Y-m-d" }}">
        </div>
        <div class="form-group col-xs-12 col-md-6">
          <label>学生名单</label>
          <div id="student-list-wrapper">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>班级</th>
                <th>姓名</th>
              </tr>
              </thead>
              <tbody>
              {% for student in vote.invited_students %}
                <tr id="{{ student.id }}" class="select-student">
                  <td>{{ student.class_belong_to.str_without_school_name }}</td>
                  <td>{{ student }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="form-group col-xs-12 col-md-6">
          <label>信息</label>
          <div id="student-voted-info">
            请选择学生来查看详细信息
          </div>
        </div>
      </div>
      <canvas id="question-bar-chart" height="370" width="500"></canvas>
      <span>提问较多的题目有：</span>
      <table class="table" id="tag-table">
        <thead>
        <tr>
          <th>题目编号</th>
          <th>Tag</th>
          <th>题目编号</th>
          <th>Tag</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions_vote_much %}
          {% if forloop.counter0|divisibleby:2 %}
            <tr>
          {% endif %}
        <td id="question-{{ question.id }}">{{ question.number }}</td>
        <td>
          <div class="tags-input">
            {% for tag in question.tag_set.all %}<span class="tag">{{ tag.name }}</span>{% endfor %}
            <input type="text" class="tag-inputbox"></div>
        </td>
        {% if forloop.counter|divisibleby:2 %}
          </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
      <button id="button-submit" type="button" class="btn btn-primary center-block">确认</button>
    </form>
  </div>
  {% load staticfiles %}
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/date-picker/bootstrap-datetimepicker.min.js" %}"></script>
  <script src="{% static "js/icheck.min.js" %}"></script>
  <script src="{% static "js/Chart.bundle.min.js" %}"></script>
  <script>
    $(function () {
      var ua_str = navigator.userAgent;
      /*在手机端或者桌面端Chrome浏览器中，存在默认的日期选择控件，在其他浏览器上需要由我们自己提供这一控件*/
      if (!(ua_str.indexOf('iPhone') > -1 || ua_str.indexOf('Android') > -1 || ua_str.indexOf('Chrome') > -1)) {
        $("input[type='date']").datetimepicker({
          format: 'yyyy-mm-dd',
          minView: 2,
          maxView: 2
        });
      }
    });
    const $selected_student = $(".select-student");
    const $student_voted_info = $("#student-voted-info");
    var ajax_id = 0;
    $selected_student.click(function () {
      $selected_student.removeClass("selected");
      $(this).addClass("selected");
      var to_post = [
        {name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"},
        {name: "student_id", value: $(this).attr("id")},
        {name: "ajax_id", value: ++ajax_id}
      ];
      $.post("{% url "vote-student-info" vote.id %}", to_post, function (ret) {
        if (ret.ajax_id != ajax_id) {
          return;
        }
        if (ret.voted == false) {
          $student_voted_info.html("该学生尚未提问");
        } else {
          {% if vote.save_name  %}
            $student_voted_info.html("学生有问题的题目有:" + ret.voted_questions);
          {% else %}
            $student_voted_info.html("该学生已经提问（该问卷不记名，所以单个学生问的问题不会显示）");
          {% endif %}
        }
      });
    });
    function draw_bar_chart(name, labels_in, data_in) {
      var ctx = $("#question-bar-chart").get(0).getContext("2d");
      var config = {
        type: "bar",
        data: {
          labels: labels_in,
          datasets: [
            {
              label: "提问人数",
              backgroundColor: "rgb(59,180,175)",
              borderWidth: 1,
              borderColor: "rgb(148,159,176)",
              data: data_in
            }
          ]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: name
          },
          scales: {
            yAxes: [{
              ticks: {
                stepSize: 1,
                suggestedMax: 5,
                suggestedMin: 0
              }
            }]
          }
        }
      };
      window.question_bar_chart = new Chart(ctx, config);
    }
    $(function () {
      draw_bar_chart("{{ vote.name }}-提问情况", {{ questions }}, {{ count }});
    });
    $(".tags-input").click(function () {
      $(this).find(".tag-inputbox").focus();
    }).on("click", ".tag", function () {
      $(this).remove();
    });
    $(".tag-inputbox").keydown(function (event) {
      switch (event.which) {
        case 13://回车
        case 32://空格
          if ($(this).val().trim() != '') {
            $(this).before('<span class="tag">' + $(this).val().trim() + '</span>');
          }
          $(this).val("");
      }
    });
    $("#button-submit").click(function () {
      var to_post = [
        {name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"},
        {name: "raw-html", value: $("#tag-table").html()}
      ];
      $.post("{% url "modify-vote" vote.id %}", to_post, function () {
        window.location = "{% url "teacher-vote-list" %}";
      });
    });
  </script>
{% endblock %}