del {
  font-size: 10pt;
}

/*.catalogue > ol > li:last-of-type,*/
/*.del,*/
/*del {*/
/*display: none;*/
/*!important;*/
/*}*/

h1 {
  font-family: Didot, serif;
  font-weight: bold;
  color: #2274b6;
  border-top: 1px solid #2274b6;
  border-bottom: 2px solid #2274b6;
}

.catalogue {
  font-size: 20pt;
  margin-top: 2em;
}

.catalogue a {
  font-size: 20pt;
  cursor: pointer;
  color: #428eb6;
}

.catalogue a:hover {
  text-decoration: none;
}

.catalogue a del:hover {
  text-decoration: underline;
}

@media print {
  del {
    display: none;
  !important;
  }

  .catalogue > ol > li:last-of-type,
  .del {
    display: none;
  !important;
  }

  /*h1 {*/
  /*color: #2274b6;!important;*/
  /*}*/
  /*.catalogue a {*/
  /*color: #428eb6;!important;*/
  /*}*/
}