<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/pure/pure-min.css" %}">
    <link rel="stylesheet" href="{% static "css/pure/grids-responsive-min.css" %}">
    <link rel="stylesheet" href="{% static "css/side-menu.css" %}">
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
    <script src="{% static "js/jQuery.js" %}"></script>
    {% block more_in_head %}{% endblock %}
</head>
<body>
{% block menu %}
{% endblock %}
<div id="main" class="pure-g">
    {% block content %}{% endblock %}
</div>
<script src="{% static "js/menu.js" %}"></script>
</body>
</html>

