{% extends "base.html" %}
{% block title %}登录{% endblock %}
{% block morestaticfiles %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/auth.css" %}">
  <link rel="stylesheet" href="{% static "css/sign-in.css" %}">
{% endblock %}
{% block main %}
  <div class="container">
    <h2>登录</h2>
    <form id="auth-form" method="post" action="{% url "do-sign-in" %}">{% csrf_token %}
      <div class="form-group">
        <label class="sr-only" for="username">username</label>
        <input class="form-control" id="username" name="username" type="text" placeholder="用户名"
               aria-required="true"
               required>
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">password</label>
        <input class="form-control" name="password" id="password" type="password" placeholder="密码"
               aria-required="true" required>
      </div>
      <div class="alert alert-danger" id="username-error" role="alert" hidden>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        您的用户名不正确
      </div>
      <div class="alert alert-danger" id="password-error" role="alert" hidden>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        您的密码不正确
      </div>
      <button class="btn btn-primary" id="submit-button" type="submit">登录</button>
    </form>
    <a class="btn" href="{% url "sign-up" %}" id="link-to-sign-up">去注册</a>
    <script src="{% static "js/validator.js" %}"></script>
    <script>
        $(function () {
            $("#submit-button").attr("disabled", "disabled");
        });
        const $success_icon = $("<span>", {"class": "glyphicon form-control-feedback glyphicon-ok"});
        const $error_icon = $("<span>", {"class": "glyphicon form-control-feedback glyphicon-remove"});
        const $username = $("#username");
        const $password = $("#password");
        var validators = new ValidatorGroup([
            new Validator("{{ csrf_token }}", $username, function (success) {
                $username.parent().removeClass("has-success").removeClass("has-error").removeClass("has-feedback");
                $username.parent().children(".glyphicon").remove();
                if (success) {
                    $("#username-error").hide();
                    $username.parent().addClass("has-success").addClass("has-feedback");
                    $username.after($success_icon.clone());
                } else {
                    $("#username-error").show();
                    $username.parent().addClass("has-error").addClass("has-feedback");
                    $username.after($error_icon.clone());
                }
            }, "{% url "validate-user" %}", null, null),
            new Validator("{{ csrf_token }}", $password, function (success) {
                $password.parent().removeClass("has-success").removeClass("has-error").removeClass("has-feedback");
                $password.parent().children(".glyphicon").remove();
                if (success) {
                    $("#password-error").hide();
                    $password.parent().addClass("has-success").addClass("has-feedback");
                    $password.after($success_icon.clone());
                } else {
                    $("#password-error").show();
                    $password.parent().addClass("has-error").addClass("has-feedback");
                    $password.after($error_icon.clone());
                }
            }, "{% url "validate-password-for-user" %}", [$username], null)
        ], function (all_valid) {
            if (all_valid) {
                $("#submit-button").removeAttr("disabled");
            } else {
                $("#submit-button").attr("disabled", "disabled");
            }
        });
        $username.keyup(function () {
            validators.validate(0);
        });
        $password.keyup(function () {
            validators.validate(1);
        });
    </script>
  </div>
{% endblock %}