.container {
    margin-top: 10ex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sign-in-form {
    margin: 0 auto;
    max-width: 24em;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

#sign-in-form input,
#sign-in-form button,
#link-to-sign-up {
    height: 44px;
    border-radius: 0;
}

#sign-in-form .form-group {
    margin-bottom: -1px;
}

.container button {
    width: 100%;
    margin-top: 2ex;
}

#link-to-sign-up {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
    max-width: 24em;
}

.container button {
    width: 100%;
    margin-top: 2ex;
}

#sign-in-form .form-group:first-of-type input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#sign-in-form .form-group:nth-of-type(2) input {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#sign-in-form .alert {
    margin-top: 1ex;
}

#sign-in-form .glyphicon.form-control-feedback {
    margin-top: 5px;
    font-size: larger;
}