nav {
  background: rgba(102, 204, 255, 1);
  bottom: 0;
  color: white;
  display: block;
  height: 100%;
  left: 0;
  outline: #4e9ec4 none 0;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1000;
  border-right: #4e9ec4 solid 1px;
  padding: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav h2 {
  font-size: 19pt;
  padding: 1em;
  margin: 0;
  background: #00CCCC;
}

nav a {
  color: white;
  display: block;
  margin: 0;
}

nav a:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

nav span.glyphicon {
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav ul {
  padding: 0;
  border-top: solid 2px #4ea7cd;
}

nav ul li {
  list-style: none;
  height: 44px;
  font-size: 17.5pt;
  padding-top: 5px;
  padding-left: 1em;
  border-bottom: solid 2px #4ea7cd;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav ul li:hover {
  background: #00bde5;
  cursor: pointer;
}

.content {
  color: rgb(119, 119, 119);
  margin-left: 200px;
  padding: 1em;
}

#index-content {
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  nav {
    width: 80px;
    height: 60px;
    border-right: none;
  }

  nav h2 {
    display: none;
  }

  nav ul {
    display: none;
    padding: 0;
    border-top: none;
    width: 80px;
    height: 60px;
  }

  nav ul li {
    padding: 0;
  }

  nav ul li:last-of-type {
    border-bottom: none;
  }

  nav span.glyphicon {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 23pt;
  }

  nav span.glyphicon:hover {
    cursor: pointer;
  }

  nav.open {
    width: 200px;
    height: 270px;
    border-bottom-right-radius: 4px;
    background: rgba(101, 194, 245, 0.8);
  }

  nav.open span.glyphicon {
    width: 0;
    height: 0;
    top: 0;
    left: -10px;
    font-size: 0;
  }

  nav.open ul {
    display: block;
    height: 100%;
    width: 100%;
  }

  nav.open ul li {
    display: block;
    height: 33.333333%;
    text-align: center;
    line-height: 90px;
  }

  nav.open ul li:last-of-type {
    border-bottom-right-radius: 4px;
  }

  nav.open ul li a {
    width: 100%;
    font-size: 20pt;
    font-weight: 500;
  }

  .content {
    position: fixed;
    margin: 0;
    padding-left: 2em;
    padding-top: 70px;
    height: 100%;
    width: 100%;
  }
}

#votes {
  margin-top: 2em;
  margin-bottom: 11em;
  padding-top: 2em;
  padding-left: 1em;
}

.vote-item {
  letter-spacing: 2px;
  display: block;
  margin-bottom: 1.5em;
  padding-bottom: 1ex;
  padding-left: 1.5ch;
  color: #000;
}

.vote-item h2 {
  margin-top: 1ex;
}

.vote-item:hover {
  color: #000;
}

.number-in {
  letter-spacing: 1px;
}

.vote-item:nth-last-of-type(odd):hover {
  background-color: rgba(178, 229, 255, 0.5);
}

.vote-item:nth-last-of-type(even):hover {
  background-color: rgba(214, 214, 255, 0.5);
}

.vote-item .signature {
  color: #d18231;
  font-weight: bold;
}

.checked-icon {
  display: none;
}

.select-mode .vote-item.selected .checked-icon {
  position: relative;
  display: inline-block;
  left: -5ch;
  top: -1em;
  padding: 0.3em;
  color: white;
  background: #52B4D8;
  border: solid 2px rgb(82, 159, 194);
  border-radius: 50%;
}

.select-mode .vote-item.selected h2 {
  margin-top: -0.7ex;
}

#controls {
  height: 10em;
  background: peachpuff;
  position: fixed;
  bottom: 0;
  left: 200px;
  width: calc(100% - 200px);
  padding-top: 2em;
}

@media screen and (max-width: 768px) {
  .vote-item:nth-last-of-type(odd) {
    background-color: rgba(178, 229, 255, 0.5);
  }

  .vote-item:nth-last-of-type(even) {
    background-color: rgba(214, 214, 255, 0.5);
  }

  #controls {
    left: 0;
    width: 100%;
  }

  #votes {
    height: calc(100vh - 60px - 10em);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#new-vote-form {
  margin-top: 3em;
}

#new-vote-form .form-group {
  padding-left: 2em;
}

#new-vote-form .btn[type="submit"] {
  clear: both;
}

#new-vote-form .checkbox {
  margin-top: 3.5em;
}

#new-vote-form .checkbox #save-name {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: -0.5em;
  margin-left: 0.2ch;
}

#new-vote-form .checkbox label {
  margin-left: -1em;
}

@media screen and (max-width: 768px) {
  #new-vote-form .checkbox {
    margin-top: 0;
  }
}